<div class="reservation">
    <div class="billet">

        <div class="lieudate">
            <div id="datedepart">

                <div class="partbillet">
                    <div class="titrebillet"><p>Départ Aller</p></div>
                        <div class="lieu">
                            <div id="paysdepartAller" class="pays">{{ place.reservation.airportDepartAller.city.country.name }}  /</div>
                            <div id="villedepartAller" class="ville">{{ place.reservation.airportDepartAller.city.name }} /</div>
                            <div id="airportdepartAller" class="airport">{{ place.reservation.airportDepartAller.name }}</div>
                        </div>
                            <div id="datedepartAller">{{ place.reservation.dateDepartAller|format_datetime(locale='fr') }}</div>
                    </div>

                        <div class="divlogoAvion">
                            <img class="logoAvion" alt="Impossible de charger l'image" src={{asset('images/logoAvion.png')}}>
                        </div>

                <div class="partbillet">
                    <div class="titrebillet">   <p>Aller Arrivée</p></div>
                        <div class="lieu">
                            <div id="paysdepartArriver" class="pays">{{ place.reservation.airportDepartArriver.city.country.name }}  / </div>
                            <div id="villedepartArriver" class="ville">{{ place.reservation.airportDepartArriver.city.name }}  / </div>
                            <div id="airportdepartArriver" class="airport">{{place.reservation.airportDepartArriver.name }}</div>
                        </div>
                            <div id="datedepartArriver">{{ place.reservation.dateDepartArriver|format_datetime(locale='fr') }}</div>
                    </div>
                </div>


            <div id="dateretour">
                <div class="partbillet">
                    <div class="titrebillet"><p>Retour Aller</p></div>
                        <div class="lieu">
                            <div id="paysretoureAller" class="pays">{{ place.reservation.airportRetourAller.city.country.name }} /</div>
                            <div id="villeetoureAller" class="ville">{{ place.reservation.airportRetourAller.city.name }}  /</div>
                            <div id="airportretourAller" class="airport">{{ place.reservation.airportRetourAller.name }}</div>
                        </div>
                            <div id="dateretourAller">{{ place.reservation.dateRetourAller|format_datetime(locale='fr') }}</div>
                    </div>

                        <div class="divlogoAvion">
                            <img class="logoAvion" alt="Impossible de charger l'image" src={{asset('images/logoAvion.png')}}>
                        </div>

                <div class="partbillet">
                    <div class="titrebillet"> <p>Retour Arrivée</p></div>
                        <div class="lieu">
                            <div id="paysretoureArriver" class="pays">{{ place.reservation.airportRetourArriver.city.country.name}}  /</div>
                            <div id="villeetoureArriver" class="ville">{{ place.reservation.airportRetourArriver.city.name }}  /</div>
                            <div id="airportretourArriver" class="airport">{{ place.reservation.airportRetourArriver.name }}</div>
                        </div>
                             <div id="dateretourArriver">{{ place.reservation.dateRetourArriver|format_datetime(locale='fr') }}</div>
                     </div>
                </div>
        </div>


        {% if place.reservation.client.company != null%}
            <div id="entreprise">{{ place.reservation.client.company.name }}</div>
        {% endif %}

        <div  class="infos">
            <div id="prix">{{ place.reservation.prix }}</div>
            <p>€/place</p>
        </div >
        <div  class="infos">
        <div id="nombreplace">{{ place.reservation.place}}</div>
            <p>places</p>
        </div>

    </div>

    </div>
