{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('annoncejs') }}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('annoncejs') }}
    {% endblock %}

    <div class="top-bar">

        <div id="logo">
            <img id="imglogo" src={{asset('images/logo.png')}}>
        </div>
        <div id="contains">


            </td>
            <div class="menu">
                <a href="{{ path('app_default') }}">Accueil</a></div>
            <div class="menu">
                <a href="{{ path('app_annonce_index') }}">Toutes les destinations</a></div>
            <div class="menu">
                <a href="{{ path('app_annonce_perso') }}">Mes reservations</a></div>
            <div class="menu">
                <a href="{{ path('app_company_index') }}">Contact</a></div>
            </td>

        </div>
        <div id="part2">
            </td>
            <div class="menu2">
                <a href="{{ path('app_logout') }}">Logo</a></div>
            <div class="menu2">
                <a href="{{ path('app_annonce_panier')}}">panier</a></div>
            </td>
        </div>

    </div>

<div class="interieur">

    <div id="ennoncer">
        <p>Deals du : </p>
        <a id="dateheur">.</a>
    </div>

    <div id="timer">

    </div>




    <table class="table">

        <div class="allbillet">
        {% for annonce in annonces %}
            {% if annonce.creator == null %}
            <div class="billet">

                <!--<td>{{ "annonce.id" }}</td>-->
                <!--<div id="mail">{{ annonce.client.email }}</div>-->

                <div id="datedepart">
                    <div class="lieu">
                        <div id="paysdepartAller">{{ annonce.airportDepartAller.city.country.name }}  --></div>
                        <div id="villedepartAller">{{ annonce.airportDepartAller.city.name }}  --></div>
                        <div id="airportdepartAller">{{ annonce.airportDepartAller.name }}</div>
                    </div>

                    <div id="datedepartAller">{{ annonce.dateDepartAller|format_datetime(locale='fr') }}</div>

                    <div class="lieu">
                        <div id="paysretoureAller">{{ annonce.airportRetourAller.city.country.name }}  --></div>
                        <div id="villeetoureAller">{{ annonce.airportRetourAller.city.name }}  --></div>
                        <div id="airportretourAller">{{ annonce.airportRetourAller.name }}</div>
                    </div>
                    <div id="dateretourAller">{{ annonce.dateRetourAller|format_datetime(locale='fr') }}</div>
                </div>

                <div class="divlogoAvion">
                    <img class="logoAvion" alt="Impossible de charger l'image" src={{asset('images/logoAvion.png')}}>

                    <img class="logoAvion" alt="Impossible de charger l'image" src={{asset('images/logoAvion.png')}}>
                </div>




                <div id="dateretour">
                    <div class="lieu">
                        <div id="paysdepartArriver">{{ annonce.airportDepartArriver.city.country.name }}  --></div>
                        <div id="villedepartArriver">{{ annonce.airportDepartArriver.city.name }}  --></div>
                        <div id="airportdepartArriver">{{ annonce.airportDepartArriver.name }}</div>
                    </div>
                    <div id="datedepartArriver">{{ annonce.dateDepartArriver|format_datetime(locale='fr') }}</div>

                    <div class="lieu">
                        <div id="paysretoureArriver">{{ annonce.airportRetourArriver.city.country.name}}  --></div>
                        <div id="villeetoureArriver">{{ annonce.airportRetourArriver.city.name }}  --></div>
                        <div id="airportretourArriver">{{ annonce.airportRetourArriver.name }}</div>
                    </div>

                    <div id="dateretourArriver">{{ annonce.dateRetourArriver|format_datetime(locale='fr') }}</div>
                </div>

                <div>{{ annonce.prix }}€</div>


                </div>
               <!-- <div>
                    <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">edit</a>
                    <a href="{{ path('app_annonce_ajouter', {'id': annonce.id}) }}">ajouter</a>
                </div>-->


            {% endif %}
        {% endfor %}
            </div>


    </table>

    {% if is_granted('ROLE_COMPANY') %}
        <a href="{{ path('app_annonce_new') }}">Create new</a>
    {% endif %}
</div>
{% endblock %}
