{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('annonce') }}
    {% endblock %}

    <div class="top-bar">

        <div id="logo">
            <img id="imglogo" src={{asset('images/logo.png')}}>
        </div>
        <div id="contains">


            </td>
            <div class="menu">
                <a href="{{ path('app_default') }}">Accueil</a></div>
            <div class="menu">
                <a href="{{ path('app_annonce_index') }}">Toutes les destinations</a></div>
            <div class="menu">
                <a href="{{ path('app_annonce_perso') }}">Mes reservations</a></div>
            <div class="menu">
                <a href="{{ path('app_company_index') }}">Contact</a></div>
            </td>

        </div>
        <div id="part2">
            </td>
            <div class="menu2">
                <a href="{{ path('app_logout') }}">Logo</a></div>
            <div class="menu2">
                <a href="{{ path('app_annonce_panier')}}">panier</a></div>
            </td>
        </div>

    </div>

<div class="interieur">

    <div id="ennoncer">
        <p>Deals du date de aujourd'hui :</p>
    </div>


    <table class="table">
        <tbody>

        {% for annonce in annonces %}
            {% if annonce.creator == null %}
            <tr>
                <!--<td  class=billet">
                <td>{{ "annonce.id" }}</td>-->
                <td>{{ annonce.client.email }}</td>


                <td id="datedepartAller">{{ annonce.dateDepartAller|format_datetime(locale='fr') }}</td>
                <td id="datedepartRetour">{{ annonce.dateDepartArriver|format_datetime(locale='fr') }}</td>


                <td>{{ annonce.airportDepartAller.name }}</td>
                <td>{{ annonce.airportDepartArriver.name }}</td>


                <td>{{ annonce.airportRetourAller.name }}</td>
                <td>{{ annonce.airportRetourArriver.name }}</td>

                <td>{{ annonce.dateRetourAller|format_datetime(locale='fr') }}</td>
                <td>{{ annonce.dateRetourArriver|format_datetime(locale='fr') }}</td>


                <td>{{ annonce.prix }}</td>

                <td>
                    <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">edit</a>
                    <a href="{{ path('app_annonce_ajouter', {'id': annonce.id}) }}">ajouter</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>

            </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('app_annonce_new') }}">Create new</a>
</div>
{% endblock %}
