{% extends 'base.html.twig' %}

{% block title %}Nouvelle annonce{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('newAnnonce') }}

{% endblock %}
{% block body %}


    <div>{% include 'barreAdmin.html.twig' %}</div>

    {{ form_start(form) }}
    <h3>Créer votre annonce</h3>
    {{ form_rest(form) }}

    {% if is_granted("ROLE_ADMIN") %}
    <button class="btn-annuler"><a id="annuler" href="{{ path('app_annonce_index') }}">Retour</a></button>
    {% endif %}

    {% if is_granted("ROLE_COMPANY") %}
    <button class="btn-annuler"><a id="annuler" href="{{ path('app_company_index') }}">Retour entreprise</a></button>
    {% endif %}

    <button class="btn" type="submit" value="Créer">Créer</button>
    {{ form_end(form) }}


{% endblock %}
