{% extends 'base.html.twig' %}

{% block title %}Nouvelle annonce{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('newAnnonce') }}

{% endblock %}
{% block body %}
    <h1>Créer une nouvelle annonce</h1>

    <div>{% include 'barre.html.twig' %}</div>

    {{ form_start(form) }}
    <h3>Créer votre annonce</h3>
    {{ form_rest(form) }}
    <button class="btn-annuler"><a id="annuler" href="{{ path('app_company_index') }}">Annuler</a></button>
    <button class="btn" type="submit" value="Créer">Créer</button>
    {{ form_end(form) }}


{% endblock %}
