{% extends 'base.html.twig' %}

{% block title %}Nouvelle annonce{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('newAnnonce') }}

{% endblock %}
{% block body %}
    <h1>Créer une nouvelle annonce</h1>


    {{ form_start(form) }}
    {{ form_rest(form) }}
    <input type="submit" value="Créer">
    {{ form_end(form) }}

    <a href="{{ path('app_annonce_index') }}">Retour à la liste</a>
{% endblock %}
