{% extends 'base.html.twig' %}

{% block title %}Payer{% endblock %}

{% block body %}
     {% block stylesheets %}
         {{ parent() }}
         {{ encore_entry_link_tags('payment') }}
         {{ encore_entry_link_tags('annonce') }}
     {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('prixjs') }}
    {% endblock %}


    <div>{% include 'barre.html.twig' %}</div>

<div class="interieur">

    <div id="ennoncer">
        <p>Payer :</p>
    </div>


    <table class="table">

        <div class="allbillet">

            {% include 'annonce/annonce_type.html.twig' %}
        </div>

    <div id="formpay">

        <p id="titrepay">Paiement</p>

        {{ form_start(formPlace) }}
        {{ form_widget(formPlace ) }}
        <div id="prixtotal">
            <p id="prix">Prix = </p>
            <p id="res"></p>
        </div>
        {{ form_start(formPay) }}
        {{ form_widget(formPay) }}
        <input id="buttonval" type="submit" value="Payer">
        {{ form_end(formPay) }}
        {{ form_end(formPlace) }}

    </div>

        </tbody>
    </table>
    <div>
        <a href="{{ path('app_annonce_panier', {'id': annonce.id}) }}">Retour</a>
    </div>
{% endblock %}