
{% block stylesheets %}
    {{ encore_entry_link_tags('barre') }}
{% endblock %}
<div class="top-bar">

    <div id="logo">
        <img id="imglogo" src={{asset('images/logo.png')}}>
    </div>
    <div id="contains">


        </td>
        <div class="menu">
            <a href="{{ path('app_user_index') }}"> Annonces/User</a></div>
        <div class="menu">
            <a href="{{ path('app_annonce_index') }}"> Annonces</a></div>
        <div class="menu">
            <a href="{{ path('app_airport_index') }}"> Airport</a></div>
        <div class="menu">
            <a href="{{ path('app_city_index') }}"> City</a></div>
        <div class="menu">
            <a href="{{ path('app_country_index') }}">Country</a></div>

        </td>

    </div>
    <div id="part2">
        </td>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="menu2">
                <a href="{{ path('app_default') }}">Mode Normal</a></div>
        {% endif %}
        <div class="menu2">
            <a href="{{ path('app_logout') }}">Logo</a></div>
        <div class="menu2">
            <a href="{{ path('app_annonce_panier')}}">panier</a></div>
        </td>
    </div>
