{% block stylesheets %}
    {{ encore_entry_link_tags('header') }}
{% endblock %}
<nav class="top-bar">

    <div id="logo">
        <img id="imglogo" src={{ asset('images/logo.png') }}>
    </div>
    <div id="contains">



        <div class="menu">
            <a href="{{ path('app_default') }}">Accueil</a></div>
        <div class="menu">
            <a href="{{ path('app_country_index') }}">Toutes les destinations</a></div>
        <div class="menu">
            <a href="{{ path('app_annonce_index') }}">Mes réservations</a></div>
        <div class="menu">
            <a href="{{ path('app_default_contact') }}">Contact</a></div>
        {% if is_granted("ROLE_ADMIN") %}
            <div class="menu">
                <a href="{{ path('app_request_index') }}">Demandes d'entreprises</a></div>
        {% endif %}


    </div>
    <div id="part2">

        <div class="menu2">
            <a href="{{ path('app_logout') }}">Logo</a></div>
        <div class="menu2">
            <a href="{{ path('app_annonce_index') }}">Panier</a></div>

    </div>


</nav>