{% extends 'base.html.twig' %}

{% block title %}Places{% endblock %}

{% block body %}
    <h1>Places</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>{{ place.id }}</td>
                <td>{{ place.nb }}</td>
                <td>
                    <a href="{{ path('app_place_show', {'id': place.id}) }}">Voir</a>
                    <a href="{{ path('app_place_edit', {'id': place.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune place trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_place_new') }}">Créer nouvelle</a>
{% endblock %}
