{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('companyHome') }}
    {% endblock %}

    <div class="top-bar">

        <div id="logo">
            <img id="imglogo" src={{asset('images/logo.png')}}>
        </div>
        <div id="contains">


            </td>
            <div class="menu">
                <a href="{{ path('app_default') }}">Accueil</a></div>
            <div class="menu">
                <a href="{{ path('app_country_index') }}">Toutes les destinations</a></div>
            <div class="menu">
                <a href="{{ path('app_annonce_index') }}">Mes reservations</a></div>
            <div class="menu">
                <a href="{{ path('app_company_index') }}">Contact</a></div>
            </td>
        </div>

        <div id="part2">
            </td>
            <div class="menu2">
                <a href="{{ path('app_logout') }}">Logout</a></div>
            <div class="menu2">
                <a href="{{ path('app_annonce_index')}}">panier</a></div>
            </td>
        </div>
    </div>

    <div id="fond">
        <img id="aile" src={{asset('images/companyAcceuil.png')}}>

        <div id="title">
            <p>Bienvenue sur votre espace partenaire BECLAL</p>
        </div>

        <div id="block">
            <div id="ajoutDestination">
                <p>Ajoutez une destination en renseignant ses informations et commencer à vendre sur BECLAL</p>
                <div class="liens">
                    <a href="{{ path('app_default') }}">Ajouter une destination</a>
                </div>
            </div>

            <div id="mesDestinations">
                <p>Consultez vos destinations, modifiez-les ou bien supprimez-les</p>
                <div class="liens">
                    <a href="{{ path('app_default') }}">Mes destinations</a>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
