{% extends 'base.html.twig' %}

{% block title %}Espace partenaire{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('companyHome') }}
    {% endblock %}
    <div>{% include 'barre.html.twig' %}</div>
    {% for flash in app.flashes('success') %}
        <div class="alert alert-success">{{ flash }}</div>
    {% endfor %}
    {% for flash in app.flashes('error') %}
        <div class="alert alert-danger">{{ flash }}</div>
    {% endfor %}


    <div id="fond">
        <img id="image" src={{asset('images/companyAccueil.png')}}>
    </div>
    <div id="title">
        <p>Bienvenue sur votre espace partenaire BECLAL</p>
    </div>

    <div id="block">
        <div id="ajoutDestination">
            <p>Ajoutez une destination en renseignant ses informations et commencer à vendre sur BECLAL</p>
            <div class="liens">
                <a href="{{ path('app_annonce_new') }}">Ajouter une annonce</a>
            </div>
        </div>

        <div id="mesDestinations">
            <p>Consultez vos destinations, modifiez-les ou bien supprimez-les</p>
            <div class="liens">
                <a href="{{ path('app_default') }}">Mes annonces</a>
            </div>
        </div>

    {% if is_granted("ROLE_COMPANY") and app.user.isOwner %}
        <div id="invitation">
             <div class="liens">
            <a href="{{ path('app_company_resend_invite') }}">Générer un nouveau code d'invitation</a>
             </div>
            <p>Attention, le code actuel ne sera plus valide.</p>
        </div>
    {% endif %}

    </div>
{% endblock %}