{% extends 'base.html.twig' %}

{% block title %}Rejoindre entreprise{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('companyJoin') }}

{% endblock %}
{% block body %}
    <div>{% include 'barre.html.twig' %}</div>
    {% for flash in app.flashes('success') %}
        <div class="alert alert-success">{{ flash }}</div>
    {% endfor %}
    {% for flash in app.flashes('error') %}
        <div class="alert alert-danger">{{ flash }}</div>
    {% endfor %}

    <div class="block">

        <div class="leForm">
            {{ include('company/_formjoin.html.twig') }}
        </div>



        <div class="image">
            <img id="add" src="{{asset('images/joinCompany.png')}}">
        </div>
    </div>






{% endblock %}
