{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('accueil') }}
    {% endblock %}

    <div class="top-bar">

        <div id="logo">
            <img id="imglogo" src={{asset('images/logo.png')}}>
        </div>
    <div id="contains">


            </td>
            <div class="menu">
                <a href="{{ path('app_default') }}">Accueil</a></div>
            <div class="menu">
                <a href="{{ path('app_country_index') }}">Toutes les destinations</a></div>
            <div class="menu">
                <a href="{{ path('app_annonce_index') }}">Mes reservations</a></div>
            <div class="menu">
                <a href="{{ path('app_compagny_index') }}">Contact</a></div>
            </td>

        </div>
        <div id="part2">
            </td>
            <div class="menu2">
                <a href="{{ path('app_logout') }}">Logo</a></div>
            <div class="menu2">
                <a href="{{ path('app_annonce_index')}}">panier</a></div>
            </td>
        </div>
    </div>

    <div id="fond">
        <img id="aile" src={{asset('images/fondaccueil.png')}}>
    </div>

    <div id="bleu">
        <div id="title">
            <p>Prenez un shot de voyage</p>
        </div>
        <div id="btn">
             <a href="{{ path('app_annonce_index') }}">Consulter les deals du jour</a></div>


    </div>

    <section class="cards">
        <article class="card"></article>
        <article class="card"></article>
        <article class="card"></article>
        <article class="card"></article>
    </section>



{% endblock %}