{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('country') }}
    {% endblock %}

    <div>{% include 'barreAdmin.html.twig' %}</div>

    <div id="titrepays"><h1>Users</h1></div>
    <div id="page">
        <div id="gauche">
            <div id="toutpays">
                <table class="table">

                    <tbody>
                    {% for user in users %}
                        <div id="indexpays">

                            <div>{{ user.email }}</div>
                            {% if user.company %}
                            <div>{{ user.company.name }}</div>
                            {% endif %}


                            <div id="boutonmodif">
                                <div class="btnannonce"><a href="{{ path('app_user_annonce', {'id': user.id}) }}">Voir les Annonces</a></div>
                            </div>

                        </div>
                    {% else %}
                        <div>
                            <div colspan="3">Aucun User</div>
                        </div>

                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="btnannoncecreate" id="create"><a href="{{ path('app_user_new') }}">Créer un utilisateur</a></div>
        </div>
        <div id="cote">
            <img id="monde" src={{asset('images/user.png')}}>
        </div>
    </div>

{% endblock %}
