{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('accueil') }}
    {% endblock %}

    <div>{% include 'barreAdmin.html.twig' %}</div>

    </div>
    <div id="fond">
        <img id="aile" src={{asset('images/fondaccueil.png')}}>
    </div>

    <div id="bleu">
        <div id="title">
            <p>Prenez un shot de voyage</p>
        </div>
        <div id="btn">
            <a href="{{ path('app_annonce_index') }}">Consulter les deals du jour</a>
        </div>

    </div>


    <div id="block">
        <div id="text1">
            <h4>BECLAL</h4>
            <p>
                Envie d’évasion ? Découvrez nos offres dès <br>
                maintenant et trouvez rapidement votre prochaine <br>
                destination de rêve.
            </p>
        </div>

        <div id="voyage1">
            <img src="{{asset('images/voyage1.png')}}">
        </div>
    </div>

    <div id="block2">
        <div id="voyage2">
            <img src="{{asset('images/voyage2.png')}}">
        </div>

        <div id="text2">
            <p>
                Des voyages sans vous ruiner.<br>
                Avec BECLAL, vous voyagez en profitant d’un tarif imbattable grâce à nos partenaires.<br><br>

                Sans coûts suppémentaires, sans frais cachés.
            </p>
            <div class="liens">
                <a href="{{ path('app_annonce_index') }}">Place à la découverte</a>
            </div>
        </div>
    </div>

    </div>


{% endblock %}