{% extends 'base.html.twig' %}

{% block title %}Aéroports{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('country') }}
    {% endblock %}

    <div>{% include 'barreAdmin.html.twig' %}</div>

    <div id="titrepays"><h1>Aéroports</h1></div>
    <div id="page">
        <div id="gauche">
            <div id="selecteur">
                <form method="GET">
                    <select class="selectchoix" name="city">
                        <option value="">Choisir une ville</option>
                        {% for city in cities %}
                            <option value="{{ city.id }}" {% if city.id == app.request.query.get('city') %}selected{% endif %}>{{ city.name }}</option>
                        {% endfor %}
                    </select>

                    <button class="btnsearch" type="submit">Rechercher</button>
                </form>
            </div>
            <div id="toutpays">
                <table class="table">

                    <tbody>
                    {% for airport in airports %}
                        <div id="indexpays">

                            <div>{{ airport.name }}</div>
                            <div id="boutonmodif">
                                <div class="btnannonce"><a href="{{ path('app_airport_edit', {'id': airport.id}) }}">Modifier</a></div>
                            </div>

                        </div>
                    {% else %}
                        <div id="vide">
                            <div id="vide" colspan="3">Aucun aéroport</div>
                        </div>

                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="btnannoncecreate" id="create"><a href="{{ path('app_airport_new') }}">Ajouter un aéroport</a></div>
        </div>
        <div id="cote">
            <img id="monde" src={{asset('images/aeroport.png')}}>
        </div>
    </div>

{% endblock %}
