{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('country') }}
    {% endblock %}

    <div>{% include 'barreAdmin.html.twig' %}</div>

    <div id="titrepays"><h1>Villes</h1></div>
    <div id="page">
        <div id="gauche">
            <div id="selecteur">
                <form method="GET">
                    <select class="selectchoix" name="country">
                        <option value="">Choisir un pays</option>
                        {% for country in countries %}
                            <option value="{{ country.id }}" {% if country.id == app.request.query.get('country') %}selected{% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>

                    <button class="btnsearch" type="submit">Rechercher</button>
                </form>
            </div>
            <div id="toutpays">



                <table class="table">

                    <tbody>
                    {% for city in cities %}
                        <div id="indexpays">

                            <div>{{ city.name }}</div>
                            <div id="boutonmodif">
                                <div class="btnannonce"><a href="{{ path('app_city_edit', {'id': city.id}) }}">Modifier</a></div>
                            </div>

                        </div>
                    {% else %}
                        <div id="vide">
                            <div id="vide" colspan="3">Aucune ville</div>
                        </div>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="btnannoncecreate" id="create"><a href="{{ path('app_city_new') }}">Ajouter une ville</a></div>
        </div>
        <div id="coteville">
            <img id="ville"  src={{asset('images/villedessin.png')}}>
        </div>
    </div>

{% endblock %}
