{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<div id="content">

    <div id="logo">
        <img id="imglogo" src={{asset('images/logo.png')}}>
    </div>

    <div id="inscription">

        <h1>S'inscrire</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button id="button" type="submit" class="btn">S'inscrire</button>
        {{ form_end(registrationForm) }}

    </div>
    <a href="{{ path('app_login') }}">J'ai deja un compte</a>

</div>
{% endblock %}

