{{ form_start(form) }}
<h3>Modifier les informations du pays </h3>
{{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
<button class="btn-annuler"><a id="annuler" href="{{ path('app_country_index') }}">Annuler</a></button>
{{ form_end(form) }}
