{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('country') }}
    {% endblock %}

    <div>{% include 'barreAdmin.html.twig' %}</div>

    <div id="titrepays"><h1>Pays</h1></div>
    <div id="page">
        <div id="gauche">
    <div id="toutpays">
    <table class="table">

        <tbody>
        {% for country in countries %}
            <div id="indexpays">

                <div>{{ country.name }}</div>
                <div id="boutonmodif">
                    <div class="btnannonce"><a href="{{ path('app_country_edit', {'id': country.id}) }}">Modifier</a></div>
                </div>

            </div>
        {% else %}
            <div>
                <div colspan="3">Aucun pays</div>
            </div>

        {% endfor %}
        </tbody>
    </table>

    </div>
            <div class="btnannoncecreate" id="create"><a href="{{ path('app_country_new') }}">Ajouter un pays</a></div>
        </div>
    <div id="cote">
        <img id="monde" src={{asset('images/carte-du-monde-pays.png')}}>
    </div>
    </div>

{% endblock %}
